<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
Hey {{ first_name }}!
  <form action="../logout">
   <button>Logout</button>
  </form>
<br>
Wallets list:
<ul>
    {% for wallet in wallets %}
        <li> &#8470; wallet: {{ wallet.wallet_id }} Balance: {{ wallet.balance }}&#36;<a href="{{wallet.wallet_id}}">Operations</a></li>
    {% endfor %}
</ul>
<form action='new/' method="POST">
    {% csrf_token %}
<input type="hidden" name="id" value={{id}}>
<input type="submit" value="Add wallet">
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %}{% endif %}{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>
<br>
<form action='transaction/' method="POST">
    {% csrf_token %}
<input type="submit" value="Transaction">
</form>
</body>
</html>