<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<form action="do/" method="POST">
    {% csrf_token %}
<label for="source">Выберите кошелек-донор:</label>
<select name="source", id="source">
    {% for wallet in wallet_data %}
        <option value="{{wallet.wallet_id}}">{{ wallet.wallet_id }}  -- {{ wallet.balance }}&#8381;</option>
    {% endfor %}
</select>
    <br>
  <label>Куда перевести:</label>
  <input type="text" id="recipient" name="recipient">
    <br>
  <label>Сколько перевести</label>
  <input type="text" id="quantity" name="quantity">
  <br>
    <input type="submit" value="Перевод">
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
</body>
</html>